{
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "root": true,
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "rules": {
    "arrow-parens": [2, "as-needed"],
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "env": {
    "es6": true
  }
}
